*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{

    height: 100vh;
    width: 100vw;
    min-height: fit-content;
    
}

.container{
    height:100%;
    width:100%;

    border: black solid 2px;


        &__sq1{
            display: none;
            position: absolute;
            height:100%;
            width:100%;
            border: rgb(155, 9, 87) solid 15px;
            background-color: transparent;
            
              
           
               




        }

        &__sq2{
            display: none;
            background-color: transparent;
            position: absolute;
            height:94%; 
            width: 96%;
            top: 3.5%;
        
            bottom:3%;
            margin-left: 2%;
           

            border: rgb(5, 94, 60) solid 14px;
          


        }

        &__sq3{
            display: none;
            position: absolute;
            height:87%;
            width:92%;
            top: 7%;
            bottom:7%;
            margin-left: 4%;
            background-color: transparent;
           

            border: rgb(158, 192, 8) solid 17px;


        }

        &__sq4{
            display: none;
            position: absolute;
            height: 81%;
            width:88%;
            top: 10%;
            bottom:7%;
            margin-left: 6%;
            background-color: transparent;
           

            border: rgb(177, 8, 183) solid 18px;


        }

        &__sq5{
            display: none;
            position: absolute;
            height:75%;
            width:84%;
            top: 13%;
            bottom:7%;
            margin-left: 8%;
            background-color: transparent;
           

            border: rgb(81, 2, 113) solid 18px;
        }

        &__sq6{
            display: none;
            position: absolute;
            height:68%;
            width:80%;
            top: 17%;
            bottom:7%;
            margin-left: 10%;

            border: rgb(123, 166, 245) solid 18px;


        }
        &__sq7{
            display: none;
            position: absolute;
            height:63%;
            width:76%;
            top: 19%;
            bottom:7%;
            margin-left: 12%;

            border: rgb(177, 8, 183) solid 18px;
        }
        &__sq8{
            display: none;
            position: absolute;
            height:57%;
            width:72%;
            top: 22%;
            bottom:9%;
            margin-left: 14%;

            border:  rgb(81, 2, 113) solid 18px;
            
        }
        &__sq9{
            display: none;
            position: absolute;
            height:50%;
            width:68%;
            top: 25%;
           
            margin-left: 16%;

            border:  rgb(3, 173, 125) solid 18px;

        }
        &__sq10{
            display: none;
            position: absolute;
            height:44%;
            width:64%;
            top: 27%;
           
            margin-left: 18%;

            border:  rgb(208, 34, 179) solid 18px;


        }
        &__sq11{
            display: none;
            position: absolute;
            height:36%;
            width:60%;
            top: 31%;
           
            margin-left: 20%;

            border:  rgb(2, 80, 58) solid 18px;


        }


        button{
            z-index: 1;
            position: absolute;
            top:48%;
            left:46%;
            background-color: rgb(3, 5, 41);
            height: 7%;
            width: 9%;
            color: whitesmoke;
            border-radius: 5px;
            letter-spacing: 1px;

        }
}